{% extends "base.html" %}
{% load static %}
{% block extra_head %}

  <link rel="stylesheet" type="text/css" href="{% static 'js/facebox/facebox.css' %}" />
  <script type="text/javascript" src="{% static 'js/facebox/facebox.js'%}"></script>

  <script type="text/javascript">
  $(function() 
    {


      $(".overtime-audit-link").facebox();

    $(".overtime-cancel-link").click(function(){
      var ok = confirm("確定要取消嗎?");
      var url = $(this).attr("href");

      if(ok) {
        $.get(url, function(rep){
          alert(rep.message);
            if(rep.code == 0) {
            window.location.reload();
            }
      });
     }
      return false;
    });
  });

  </script>
{% endblock %}



{% block content %}

<h2>出缺勤簽核</h2>
<table>
  <thead>
    <tr>
      <th>假別</th>
      <th>送簽者</th>
      <th>狀態</th>
      <th>開始時間</th>
      <th>結束時間</th>
      <th>分鐘</th>
      <th>原因</th>
      <th>簽核</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in pagination.page.object_list %}
    <tr>
      <td>{{ obj.category_name }}</td>
      <td>{{ obj.user.uaername }}</td>
      <td>{{ obj.status_name }}</td>
      <td>{{ obj.start_time|date:'Y-m-d H:i:s' }}</td>
      <td>{{ obj.end_time|date: 'Y-m_d H:i:s' }}</td>
      <td>{{ obj.minutes }}</td>
      <td>{{ obj.reason }}</td>
     
      <td><a class="takeleave-audit-link" href="{% url 'takeleave_audit' %}?q={{ obj.id }}"><input type="checkbox"></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
  {{ pagination.render }}
</div>

{% endblock %}
